extends ../layout.pug

block content
  .container-fluid.cover(style="background-image: url('/images/cover.jpg');")
    .vcenter
      .col-xs-12.col-sm-6.col-sm-offset-3.text-center
        h1.--inverse Search Results
        form(action="/search/results",method="get")
              .input-group.text-center
                input.form-control(name="query",value=viewmodel.search_query)
                span.input-group-btn
                  button.btn.btn-default(type="submit") Search
  .container
    .row.hidden-xs(style="margin-top:15px;margin-bottom:15px;")
      .col-sm-4.col-xs-12.col-md-4
          h3.text-center Wines
      .col-sm-4.col-xs-12.col-md-4
          h3.text-center Producers
      .col-sm-4.col-xs-12.col-md-4
          h3.text-center Regions
  .brand-stripe(style="margin-bottom:15px;")
  .container
    .row
      .col-sm-4.col-xs-12.col-md-4
        div.hero-head.hero-head-primary.hidden-sm.hidden-md.hidden-lg.visible-xs
          h3.text-center Wines
        .row
          each wine in viewmodel.wines
            .col-md-12
              a(href="/wines/details/" + wine.id)
                .panel.panel-default
                  .panel-body
                    .text-center
                      div.imgcard(style="background-image:url(\"/images/" + viewmodel.magic.getPic(wine.id,'wine')  + ".jpg\");")
                        br
                      .tile-text
                        span=wine.name
                      p #{wine.color} - #{wine.price}
      .col-sm-4.col-xs-12.col-md-4
        div.hero-head.hero-head-secondary.hidden-sm.hidden-md.hidden-lg.visible-xs
          h3.text-center Producers
        .row
          each producer in viewmodel.producers
            .col-md-12
              a(href="/producers/details/" + producer.id)
                .panel.panel-default
                  .panel-body
                    .text-center
                      div.imgcard.c(style="background-image:url(\"/images/" + viewmodel.magic.getPic(producer.id,'vineyard')  + ".jpg\");")
                        br
                      .tile-text
                        span=producer.name
                      p &nbsp;
      .col-sm-4.col-xs-12.col-md-4
        div.hero-head.hero-head-tertiary.hidden-sm.hidden-md.hidden-lg.visible-xs
          h3.text-center Regions
        .row
          each region in viewmodel.regions
            .col-md-12
              a(href="/regions/details/" + region.id)
                .panel.panel-default
                  .panel-body
                    .text-center
                      div.imgcard.c(style="background-image:url(\"/images/" + viewmodel.magic.getPic(region.id,'region')  + ".jpg\");")
                        br
                      .tile-text
                        span=region.title
                      p &nbsp;
