extends ../layout.pug

block content
  h2.text-center Search Results
  hr
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          form(action="/search/results",method="get")
            .input-group.text-center
              input.form-control(name="query",value=viewmodel.search_query)
              span.input-group-btn
                button.btn.btn-default(type="submit") Search
  .row
    .col-sm-4.col-xs-12.col-md-4
      h3.text-center Wines
      hr
      .row
        each wine in viewmodel.wines
          .col-xs-12.col-sm-12.col-md-6
            .panel.panel-default
              .panel-heading=wine.name
              .panel-body.text-center
                img(src="/static/images/" + wine.picture + ".jpg")
                p #{wine.color} - #{wine.price}
              .panel-footer.text-center
                a.btn.btn-default(href="/wines/details/" + wine.id) See More
    .col-sm-4.col-xs-12.col-md-4
      h3.text-center Producers
      hr
      .row
        each producer in viewmodel.producers
          .col-xs-12.col-sm-12.col-md-6
            .panel.panel-default
              .panel-heading=producer.name
              .panel-body.text-center
                img(src="/static/images/" + producer.picture + ".jpg")
              .panel-footer.text-center
                a.btn.btn-default(href="/producers/details/" + producer.id) See More
    .col-sm-4.col-xs-12.col-md-4
      h3.text-center Regions
      hr
      .row
        each region in viewmodel.regions
          .col-xs-12.col-sm-12.col-md-6
            .panel.panel-default
              .panel-heading=region.name
              .panel-body.text-center
                img(src="/static/images/" + region.picture + ".jpg")
              .panel-footer.text-center
                a.btn.btn-default(href="/regions/details/" + region.id) See More