extends ../layout.pug

block content
  .container-fluid.cover(style="background-image: url('/images/" + viewmodel.magic.getPic(viewmodel.id,'wine') + ".jpg');")
    .vcenter
      .col-xs-12.col-sm-6.col-sm-offset-3.text-center
        h1.--inverse=viewmodel.title
        br
        h2.--inverse #{viewmodel.rating} | #{viewmodel.reviews.length} Reviews
  .container
    .row
      .col-xs-3.text-center
        h2 #{viewmodel.percentAlcohol}%
      .col-xs-3.text-center
        h2=viewmodel.price
      .col-xs-3.text-center
        h2=viewmodel.color
      .col-xs-3.text-center
        h2=viewmodel.vintage.year
    .brand-stripe
  if (viewmodel.summary != None)
    .container
      .row
        .col-md-12
          .panel.panel-default
            .panel-body
              .text-content
                p #{viewmodel.summary}
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3
        .panel.panel-default
          .panel-body
            .text-content
              h1.text-center(style="color:black;") #{viewmodel.acid * 10} / 10
          .panel-footer.text-center Acid
      .col-xs-12.col-sm-6.col-md-3
        .panel.panel-default
          .panel-body
            .text-content
              h1.text-center(style="color:black;") #{viewmodel.percentAlcohol} %
          .panel-footer.text-center Alcohol
      .col-xs-12.col-sm-6.col-md-3
        .panel.panel-default
          .panel-body
            .text-content
              h1.text-center(style="color:black;") #{viewmodel.body * 10} / 10
          .panel-footer.text-center Body
      .col-xs-12.col-sm-6.col-md-3
        .panel.panel-default
          .panel-body
            .text-content
              h1.text-center(style="color:black;") #{viewmodel.tannin * 10} / 10
          .panel-footer.text-center Tannin
  .container-fluid.cover(style="background-image: url('/images/" + viewmodel.magic.getPic(viewmodel.vineyard.id,'vineyard') + ".jpg');")
    .vcenter
      .col-xs-12.col-sm-6.col-sm-offset-3.text-center
        h1.--inverse=viewmodel.vineyard.name
        p.text-center(style="color:white;")=viewmodel.vineyard.description
        br
        a.btn.btn-default(href="/producers/details/" + viewmodel.vineyard.id) Learn More
  .brand-stripe
  .container-fluid.cover(style="background-image: url('/images/" + viewmodel.magic.getPic(viewmodel.vintage.region.id,'region') + ".jpg');")
    .vcenter
      .col-xs-12.col-sm-6.col-sm-offset-3.text-center
        h1.--inverse #{viewmodel.vintage.region.name}
        p.text-center(style="color:white;")=viewmodel.vintage.region.description
        br
        a.btn.btn-default(href="/regions/" + viewmodel.vintage.region.id) Learn More
  div.hero-head.hero-head-primary
    h2.text-center Food Pairings
  .container-fluid.highlight-primary
    .row
      each food, index in viewmodel.foods
        .col-xs-6.col-sm-3
          a(href="/foods/details/" + food.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard(style="background-image:url(\"/images/" + viewmodel.magic.getPic(food.id,'food') + ".jpg\");height: 100px;")
                    br
                  .tile-text
                    span=food.name
  div.hero-head.hero-head-secondary
    h2.text-center Reviews
  .container
    .row
      each review in viewmodel.reviews
        .col-sm-12.col-md-6
          .panel.panel-default
            .panel-heading #{review.title} - #{review.date}
            .panel-body
              .text-content
                p #{review.stars} / 5 stars - Posted By #{review.user.name}
                blockquote.blockquote=review.body