extends ../layout.pug



block content

  div.hero-head.hero-head-primary
    h2.text-center Top wines
  .container-fluid.highlight-primary
    .row
      each wine, index in viewmodel.selected_wines
        .col-xs-6.col-sm-3
          a(href="/wines/details/" + wine.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div(style="background-image:url(\"/images/" + wine.picture + ".jpg\");height: 150px;")
                    br
                  .tile-text
                    span=wine.name
                  p #{wine.color} - #{wine.price}
  div.hero-head.hero-head-secondary
    h2.text-center Browse wines
  .container
    .row

      each wine in viewmodel.result_wines
        .col-xs-6.col-sm-3
          a(href="/wines/details/" + wine.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div(style="background-image:url(\"/images/" +  viewmodel.magic.getPic(wine.id,'wine')+ ".jpg\");height: 150px;")
                    br
                  .tile-text
                    span=wine.name
                  p #{wine.color} - #{wine.price}
    hr
    .text-center
      ul.pagination
        - var n = 1;
          while n <= viewmodel.count_pages
            li
              a(href="/wines/" + n)=n++
