extends ../layout.pug

block content
  h2.text-center Top Wines
  .row
    each wine, index in viewmodel.selected_wines
      .col-md-2.hidden-sm.hidden-xs
        .panel.panel-default
          .panel-heading=wine.name
          .panel-body.text-center
            img(src="/static/images/" + wine.picture + ".jpg")
            p #{wine.color} - #{wine.price}
          .panel-footer.text-center
            a.btn.btn-default(href="/wines/details/" + wine.id) See More
      if index < 4
        .col-xs-3.col-sm-3.hidden-md.hidden-lg
          .panel.panel-default
            .panel-heading=wine.name
            .panel-body.text-center
              img(src="/static/images/" + wine.picture + ".jpg")
              p #{wine.color} - #{wine.price}
            .panel-footer.text-center
              a.btn.btn-default(href="/wines/details/" + wine.id) See More
  .row
    .col-md-2
      h4 Filters
    .col-md-10
      h3.text-center Browse wines
      .row
        each wine in viewmodel.result_wines
          .col-xs-3
            .panel.panel-default
              .panel-heading=wine.name
              .panel-body.text-center
                img(src="/static/images/" + wine.picture + ".jpg")
                p #{wine.color} - #{wine.price}
              .panel-footer.text-center
                a.btn.btn-default(href="/wines/details/" + wine.id) See More
      hr
      .text-center
        ul.pagination
          - var n = 1;
            while n <= viewmodel.count_pages
              li
                a(href="/wines/" + n)=n++